<body>
    <footer>
     <div style="background-image:url(../assets/3.jpg); height: 700px; background-size: cover">
        <section class="sect" >
    
            <!-- <div class="leftbox">
                <div class="content">
                   <h1>Live Events</h1> 
                   <p>
                    Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.
                   </p>
                </div>
            </div> -->
            <div class="events">
                <ul>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events. Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- Next Tab -->

            <div class="events">
                <ul>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events. Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>    
    </footer>
</body>
