<div class=".redClass">
  <br>
  <h2 style="text-align: center;"> Important Notes! Have a look before proceeding</h2>
  <hr class="dashed-border">
  <div class="highlight">
    <strong> Event Related Guide</strong> Event Related Guide There are simple 5 steps(Fill all steps correctly!)
  </div>
  <br>
  <div style="padding-left: 5mm;" class="step1">
    <table>
      <tr>
        <td> <strong>Step-1</strong> (Fill Event Name, Date, Location & Description)</td>
        <td style="padding-left: 2cm;"><strong>Step-2</strong> (Select category for your event)</td>
        <td style="padding-left: 2cm;"><strong>Step-3</strong> (Upload Poster and Banner Image for event)</td>
      </tr>
      <tr>

        <td><strong>Step-4</strong> (Fill Organiser Details)</td>
        <td style="padding-left: 2cm;"><strong>Step-5</strong> (Fill Ticket Details and Descriptions)</td>
      </tr>
    </table>
  </div>
  <hr class="dashed-border">
  <div class="highlight">
    <strong>Payment Related Guide</strong> Add A/c details in dashboard once Event gets published
  </div>
  <br>
  <div class="step1">
    <ul>
      <table>
        <tr>
          <td style="padding-left: 1cm;">
            <li>You can add your account details in the Dashboard.</li>
          </td>
          <td style="padding-left: 7cm;">
            <li>Payout will be done every Friday to the event organizer.</li>
          </td>
        </tr>
      </table>
    </ul>
  </div>
  <hr class="dashed-border">
  <div class="highlight">
    <strong>Dashboard Features</strong>
  </div>
  <br>
  <div class="step1">
    <ul>
      <table>
        <tr>
          <td style="padding-left: 1cm;">
            <li>Edit/ Update Event.</li>
          </td>
          <td style="padding-left: 5cm;">
            <li>Add Event Tickets.</li>
          </td>
          <td style="padding-left: 5cm;">
            <li>View and Download Analytics.</li>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 1cm;">
            <li>View & Download Payment invoice.</li>
          </td>
          <td style="padding-left: 5cm;">
            <li>Sell merchandise Online.</li>
          </td>
          <td style="padding-left: 5cm;">
            <li>Add Event images for better visibility.</li>
          </td>
        </tr>
      </table>
    </ul>
  </div>
  <br>

  <br>

  <div class="text-center">
    <input type="button" value="Proceed" class="btn btn-lg btn-outline-primary" data-toggle="modal"
      data-target="#modalLRForm">
  </div>
</div>
<br>










