header{
  /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/assets/1.jpg");  */
 /* background-color: blanchedalmond;  */
 background-color: #080708;
 height:75px;
 background-size: cover;
 background-position: center;
}
.highlight {
  background-color: rgb(190, 190, 190);
  /* border-left: white; */
  border-left: 30px solid white;
  border-right: 30px solid white;
  padding: 1%;

 
}

.highlight,
.step1 {
 font-size: 13px;
 color: rgb(40, 40, 40);
 font-family: "verdana","Arial", Times, serif;
}

.dashed-border {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  border: 0.2mm  solid rgb(190, 190, 190);
  display: block;
 

}