<img src="../assets/contact.png" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 50%;" >

<h2 style="text-align: center;">GET IN TOUCH US</h2> 
 <hr class="head1">
<div style="text-align: center;">
We will glad to grab a cuppa coffee with you folks-students, event organisers <br>
and all the like-minded people in the city, and everywhere else too. So send in your details, let's strike up a conversation! <br>
Email - support@theeventorganizer.com <br>
Phone - +91 3456754356 <br>

</div>
<br>
<br>