<header>
<div class="title">
            <h1 style="font-size: 32px; text-align: center;">Welcome to the Event Queue Platform</h1> <br>
            <h2 style="font-size: 18px;color: white;">College Events|Registration of Tickets for Free|Ticket Booking|</h2>
            <h2 style="font-size: 18px; color: #ffff;">Management of Events</h2>

        </div>

        <div class="button">
        <a href="#" class="btn">Live Events</a>
        <a href="#" class="btn">Blogs</a>
        </div>
    </header> 

   
     <footer>
        <div class="title">
            <h1 style="font-size: 32px; text-align: center;">Welcome to the Event Queue Platform</h1> <br>
            <h2 style="font-size: 18px;color: white;">College Events|Registration of Tickets for Free|Ticket Booking|</h2>
            <h2 style="font-size: 18px; color: #ffff;">Management of Events</h2>

        </div>

        <div class="button">
        <a href="/liveevents" class="btn" >Live Events</a>
        <a href="#" class="btn">Blogs</a>
        </div> 

        <section class="sect" style="background-image:url(../assets/3.jpg); height:700px;" >
            <div class="leftbox">
                <div class="content">
                   <h1>Live Events</h1> 
                   <p>
                    Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.
                   </p>
                </div>
            </div>
            <div class="events">
                <ul>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events. Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time"><h2>24 <br><span>June</span></h2>
                        </div>
                        <div class="details">
                            <h3>Where does it come from</h3>
                            <p>Details of the events.Details of the events.Details of the events.Details of the events.</p>
                            <a href="#" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 

    </footer>